<template>
    <div>
        <template v-for="(array, name) in errors">
            <v-alert type="error" v-for="(value, i) in array" :key="name+i">
                {{value}}
            </v-alert>
        </template>
    </div>
</template>

<script>
    export default {
        props: ['errors']
    }
</script>
