<template>
    <div>
        <waiter v-if="requestStatus === 0"/>
        <router-view v-else-if="requestStatus === 1"/>
        <errors v-else-if="requestStatus === 2" :errors="errors"/>
    </div>
</template>
<script>
    import Waiter from "./general/Waiter";
    import Errors from "./general/Errors";
    import {axiosRequestForComponent} from "../helpers/general";

    export default {
        data: function () {
            return {
                requestStatus: 0,
                errors: [],
            }
        },
        components: {
            Waiter,
            Errors
        },
        mounted: function () {
            axiosRequestForComponent(this, 'auth', null, 'AUTH', 'requestStatus', 'errors');
        }
    }
</script>
