<template>
    <v-app-bar
        app
        color="indigo"
        dark
    >
        <v-app-bar-nav-icon @click="$parent.changeShowMenu"></v-app-bar-nav-icon>
        <v-toolbar-title>Application</v-toolbar-title>
    </v-app-bar>
</template>
